<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <title>Amandis</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link  rel="icon" href="../static/ClientSide/img/favicon.png" th:href="@{/ClientSide/img/favicon.png}">
  <link href="../static/ClientSide/img/apple-touch-icon.png" rel="apple-touch-icon" th:href="@{/ClientSide/img/apple-touch-icon.png}">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="../static/ClientSide/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" th:href="@{/ClientSide/lib/bootstrap/css/bootstrap.min.css}">

  <!-- Libraries CSS Files -->
  <link href="../static/ClientSide/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" th:href="@{/ClientSide/lib/font-awesome/css/font-awesome.min.css}">
  <link href="../static/ClientSide/lib/animate/animate.min.css" rel="stylesheet" th:href="@{/ClientSide/lib/animate/animate.min.css}">
  <link href="../static/ClientSide/lib/venobox/venobox.css" rel="stylesheet" th:href="@{/ClientSide/lib/venobox/venobox.css}">
  <link href="../static/ClientSide/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" th:href="@{/ClientSide/lib/owlcarousel/assets/owl.carousel.min.css}">

  <!-- Main Stylesheet File -->
  <link href="../static/ClientSide/css/style.css" rel="stylesheet" th:href="@{/ClientSide/css/style.css}">

  <!-- =======================================================
    Theme Name: TheEvent
    Theme URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
  <style type="text/css">
   #header {
    background: rgba(6, 12, 34, 0.98);
   
}
  </style>
</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left" >
        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="#main">C<span>o</span>nf</a></h1>-->
        <a href="#intro" class="scrollto"><img src="/ClientSide/img/logo.png" alt="" title="" style="margin-left: -8.8em;"></a>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a th:href="@{/Employe/index}">Acceuil</a></li>
           <li th:if="${currentUser.class.simpleName=='employe' && isConnected  eq true}"><a th:href="@{/Employe/allEntreprise}">Les entreprises</a></li>
            <li  ><a th:if="${currentUser.class.simpleName=='clients' && isConnected  eq true}" th:href="@{/Client/allEntreprise}">Les entreprises</a></li>
          <li th:if="${currentUser.class.simpleName=='clients' && isConnected  eq true}"><a th:href="@{/Client/clientDemande}">Vos demandes</a></li> 
          <li><a th:href="@{/Employe/Service}" th:if="${currentUser.class.simpleName=='employe' &&  isConnected  eq true}">Les services</a></li>
          <li><a th:if="${currentUser.class.simpleName=='employe' && isConnected  eq true}" th:href="@{/Employe/Reparation}">Les reparations</a></li>
         <li><a th:if="${currentUser.class.simpleName=='employe' && isConnected  eq true}" th:href="@{/Employe/clientDemande}">Les demandes</a></li>
       
          <li th:if="${currentUser.class.simpleName=='employe' && isConnected  eq true}"><a th:href="@{/Employe/SendEmail}">Contact nous</a></li>
          <li th:if="${currentUser.class.simpleName=='clients' && isConnected  eq true}"><a th:href="@{/Client/SendEmail}">Contact nous</a></li>
   
          <li class="buy-tickets"><a href="" data-toggle="modal" data-target="#myModal" th:if="${isConnected  eq false}">Inscription</a></li>
           <li class="buy-tickets"><a th:href="@{logout}" th:if="${isConnected  eq true}">Déconnexion</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  

  <main id="main">
    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="section-bg wow fadeInUp">

      <div class="container">

        <div class="section-header">
          <h2 style="margin-top: 50px;">Contact nous</h2>
        
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="ion-ios-location-outline"></i>
              <h3>Adresse</h3>
              <address>  Av. Abdelkhalak Torres, rue Chéfchaouen  <br>           
                Tetouan</address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="ion-ios-telephone-outline"></i>
              <h3>Numero de telephone</h3>
              <p><a href="tel:+155895548855">+1 5589 55488 55</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="ion-ios-email-outline"></i>
              <h3>twitter</h3>
              <p><a href="mailto:info@example.com">Amendis@OfficielAmendis</a></p>
            </div>
          </div>

        </div>

<div class="form">
          
          <form th:action="@{Send}"   method="post"  >
           
            <div class="form-row" >
              <div class="form-group col-md-12">
               <input type="text" class="form-control" name="subject" id="subject" placeholder="Object" />
              </div>
             
               <div class="form-group col-md-12">
                <textarea class="form-control" name="message" rows="5" data-rule="required"  placeholder="Message"></textarea>
            
              </div>
            </div>
           
             <div class="text-center" >
              <button type="submit" class="btn btn-primary">Envoyer</button>
              
            </div>
          </form>
            </div>

       

      </div>
    </section><!-- #contact -->

  </main>


  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-6 col-md-6 footer-info">
            <img src="/ClientSide/img/logo.png" alt="TheEvenet">
           <p>Filiale de Veolia Maroc, nous sommes un opérateur de services publics en charge depuis 2002 de la distribution d'eau potable et d'électricité, ainsi que de la collecte et du traitement des eaux usées pour 1,8 millions d’habitants de la région de Tanger-Tétouan</p>
            </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>menu</h4>
            <ul>
             <li ><i class="fa fa-angle-right"></i><a href="#intro">Home</a></li>
          <li ><i class="fa fa-angle-right"></i><a th:href="@{/Employe/allEntreprise}">les entreprises</a></li>
           <li ><i class="fa fa-angle-right"></i><a th:href="@{/Employe/Service}" th:if="${isConnected  eq true}">les Services</a></li>
            <li ><i class="fa fa-angle-right"></i><a th:if="${isConnected  eq true}" th:href="@{/Employe/Reparation}">les Reparations</a></li>
            <li ><i class="fa fa-angle-right"></i><a th:if="${currentUser.class.simpleName=='employe' && isConnected  eq true}" th:href="@{/Employe/clientDemande}">les demandes</a></li>
          
            </ul>
          </div>

          

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              Av. Abdelkhalak Torres, rue Chéfchaouen  <br>           
                Tetouan<br>
              <strong>Phone:+1 5589 55488 55</strong> <br>
              <strong>twitter:</strong>Amendis@OfficielAmendis
              <br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Amendis</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=TheEvent
        -->
       
      </div>
    </div>
  </footer><!-- #footer -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <!-- <h4 class="modal-title">Inscription</h4> -->
        </div>
        <div class="modal-body">
          <p>
          	<div class="row signup">
        <div class="col-xs-12 col-sm-5 col-sm-offset-1">
		<a th:href="@{/Client/cLientInscription}">
			<div class="widget blue-bg p-lg text-center">
				<div class="m-b-md">
				    <i class="fa fa-users fa-5x"></i>
				    <h3 class="font-bold no-margins">
				        clients				    </h3>
				</div>
			</div>
		</a>
	</div>
	<div class="col-xs-12 col-sm-5">
		<a th:href="@{/Employe/Entrepise}">
			<div class="widget red-bg p-lg text-center">
				<div class="m-b-md">
				    <i class="fa fa-briefcase fa-5x"></i>
				    <h3 class="font-bold">
				        Entreprise				    </h3>
				</div>
			</div>
		</a>
	</div>
	</div>
	<a th:href=@{/Employe/login} style="margin-right: 15px;">Déjà membre ? Connectez-vous</a>

        </div></div></div></div>

  <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="../ClientSide/lib/jquery/jquery.min.js"  th:href="@{/ClientSide/lib/jquery/jquery.min.js}"></script>
  		
  <script src="../ClientSide/lib/jquery/jquery-migrate.min.js" th:href="@{/ClientSide/lib/jquery/jquery-migrate.min.js}"></script>
  <script src="../ClientSide/lib/bootstrap/js/bootstrap.bundle.min.js" th:href="@{/ClientSide/lib/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script src="../ClientSide/lib/easing/easing.min.js" th:href="@{/ClientSide/lib/easing/easing.min.js}"></script>
  <script src="../ClientSide/lib/superfish/hoverIntent.js" th:href="@{/ClientSide/lib/superfish/hoverIntent.js}"></script>
  <script src="../ClientSide/lib/superfish/superfish.min.js" th:href="@{/ClientSide/lib/superfish/superfish.min.js}"></script>
  <script src="../ClientSide/lib/wow/wow.min.js" th:href="@{/ClientSide/lib/wow/wow.min.js}"></script>
  <script src="../ClientSide/lib/venobox/venobox.min.js" th:href="@{/ClientSide/lib/venobox/venobox.min.js}"></script>
  <script src="../ClientSide/lib/owlcarousel/owl.carousel.min.js" th:href="@{/ClientSide/lib/owlcarousel/owl.carousel.min.js}"></script>

  <!-- Contact Form JavaScript File -->
  <script src="../ClientSide/contactform/contactform.js" th:href="@{/ClientSide/contactform/contactform.js}"></script>

  <!-- Template Main Javascript File -->
  <script src="../ClientSide/js/main.js" th:href="@{/ClientSide/js/main.js}"></script>
</body>

</html>
